<div class="page-header">
  <h2>Sign in</h2>
</div>

<div class="row">
  <div class="span5">
    <%= render 'sign_in_form' %>
    <p>
      <%= mail_to "radiology@northwestern.edu", "request an account" %>
    </p>
  </div>
</div>
